.portfolio-container{
    background-color: #1A1A1A;
    height:100vh;
    width:100%;
}

.grid-container{
    display:grid;
    grid-template-columns: auto auto;
    margin:200px auto;
    
    width:100%;
    height:500px;
}
.handles{
    display:flex;
    flex-direction: row;
    gap:25px;
    justify-content: center;

    
}
.info{
    padding-top:120px;
    color:gainsboro;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.my-image{
    
    height:500px;
    width:500px;
    box-shadow:2px 2px 30px 30px  rgb(227, 126, 143) ;
    border-radius:50%;
   
    
}
h1{
    font-size:80px !important;
    color:rgb(252, 106, 131) !important;
}

.containers{
    background-color: rgb(0, 0, 0);
}


.instagram{
    height:25px;
    width:25px;
    

   
}
.github{
    height:10px;
    width:10px;
    
  
}
.linkedin{
    height:30px;
    width:30px;
    margin:0;
  
    
    

}

.handles  img:hover {
    transform: scale(1.15);
    box-shadow:2px 2px 10px 10px  rgb(227, 126, 143) ;
}
.my-image:hover{
    transform: scale(1.15);
    box-shadow:2px 2px 10px 10px  rgb(227, 126, 143) ;
    border-radius:50%;
}
.navbar-nav a{
    color:rgb(232, 120, 138) !important;
    font-size:16px !important;
   
}
.navbar-nav a:hover{
    color:pink !important;
    font-size:20px !important;
}

