.grid-container{
    display:grid;
    grid-template-columns: auto auto;
    margin:200px auto;
    background-color:rgb(199, 228, 254);
    width:100%;
    height:500px;
}
.info{
    padding-top:120px;
}
img{
    padding-top:140px;
    height:450px;
    width:450px;
}